# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Build files
dist/
build/
out/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db